/* Toast Message Component Styles */

.toast-message {
    position: fixed;
    bottom: 16px;
    left: 8px;
    right: 8px;
    background: #323232;
    color: #000000;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.toast-message.hidden {
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}

.toast-text {
    font-size: 14px;
    color: #000000;
    flex: 1;
}

.toast-link {
    font-size: 14px;
    font-weight: bold;
    color: #026c5e;
    text-decoration: none;
    margin-left: 16px;
}

/* .toast-link:hover {
    color: #669df6;
    text-decoration: underline;
} */

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    .toast-message {
        background: #e2e2e2;
        color: #e8eaed;
    }

    .toast-link {
        color: #026c5e;
    }

    /* .toast-link:hover {
        color: #669df6;
    } */
}
